<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only">省份</label>
      <select name="province" class="form-control input-sm" data-ng-model="province" data-ng-options="prov.name for prov in areas" data-ng-change="search.provinceId=province.id; city='';search.cityId=undefinde">
        <option value="">-- 选择省份 --</option> 
      </select>
      <input name="provinceId" type="hidden" data-ng-model="search.provinceId">
    </div>
    <div class="form-group">
      <label class="sr-only"></label>
      <select name="city" class="form-control input-sm" data-ng-model="city" data-ng-options="city.name for city in province.subname" data-ng-change="search.cityId=city.id">
        <option value="">-- 选择城市 --</option> 
      </select>
      <input name="cityId" type="hidden" data-ng-model="search.cityId">
    </div>
    <div class="form-group">
      <label class="sr-only">客户名称</label>
      <input class="form-control input-sm" type="text" name="customerName" data-ng-model="search.customerName" placeholder="客户名称">
    </div>
    <div class="form-group">
      <label class="sr-only">开始时间</label>
      <div class="input-group input-group-sm dds-dp">
        <input type="text" class="form-control" 
          data-datepicker-popup 
          data-ng-model="search.dp1" 
          data-is-open="sOpen"
          data-datepicker-options="dateOptions"  
          data-show-button-bar="false"
          data-ng-change="search.dp1=(search.dp1 | myDate:'yyyy-MM-dd')"
          data-ng-click="toggleCal($event);sOpen=!sOpen;eOpen=false;"
          readonly>
        <span class="input-group-btn" data-ng-click="toggleCal($event);sOpen=!sOpen;eOpen=false;">
          <button type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">结束时间</label>
      <div class="input-group input-group-sm dds-dp">
        <input type="text" class="form-control" 
          data-datepicker-popup 
          data-ng-model="search.dp2" 
          data-is-open="eOpen" 
          data-datepicker-options="dateOptions"  
          data-show-button-bar="false"  
          data-min-date="search.dp1"
          data-ng-change="search.dp2=(search.dp2 | myDate:'yyyy-MM-dd')"
          data-ng-click="toggleCal($event);eOpen=!eOpen;sOpen=false;"
          readonly>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" data-ng-click="toggleCal($event);eOpen=!eOpen;sOpen=false;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-sm" data-ng-click="doSearch(search)">
        <i class="glyphicon glyphicon-search"></i> 搜素
      </button>
      <button class="btn btn-primary btn-sm" data-ng-click="staticsExport(search)" data-ng-show="orders.length>0">
        <i class="glyphicon glyphicon-export"></i> 数据导出
      </button>      
    </div>
  </form>
  <button class="btn btn-primary btn-sm" data-ng-click="refresh()">
    <i class="glyphicon glyphicon-refresh"></i> 刷新
  </button>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>省份</td>
      <td>城市</td>
      <td>客户名称</td>
      <td>客户手机号</td>
      <td>总次数</td>
      <td>平均费用(元)</td>
      <td>总费用(元)</td>
      <td>总服务时间(小时)</td>
      <td class="action">操作</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="ord in orders">
      <td data-ng-bind="ord.provinceName"></td>
      <td data-ng-bind="ord.cityName"></td>
      <td data-ng-bind="ord.customerName"></td>
      <td data-ng-bind="ord.customerPhone"></td>
      <td data-ng-bind="ord.orderCount"></td>
      <td data-ng-bind="ord.average | currency: '￥'"></td>
      <td data-ng-bind="ord.costCount | currency: '￥'"></td>
      <td data-ng-bind="ord.timeCount"></td>
      <td>
        <button class="btn btn-primary btn-xs" data-ng-click="orderByCust(ord.customerName)">
          查看明细
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row" data-ng-show="showPagination">
  <div class="col-xs-10">
    <div data-pagination data-total-items="total" data-ng-model="pageNum" data-max-size="maxPageSize" class="pagination-sm" data-num-pages="numPages" data-ng-change="changePage()" data-rotate="false" data-boundary-links="true" data-previous-text="上页" data-next-text="下页" data-first-text="首页" data-last-text="末页"></div>
  </div>
  <div class="col-xs-2 text-right pagination-tip">
    页码: {{pageNum}} / {{numPages}}
  </div>
</div>