@import "vandor", "iconfont";

/* for angular-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

html{
 width:100%; height:100%;
}
.platform-body{
  width:100%; height:100%;
  padding-top: $navbar-height + $grid-gutter-width / 2 + 5;
  overflow-x: hidden;
  min-width: 1200px;
  & > nav{
    background-color: rgba($navbar-inverse-bg, 0.85);
    .navbar-brand{
      color: white;
      .icon-vehicle{
        font-size:2em;
      }
      small{
        font-size:0.8em;
      }
    }
    .navbar-right:last-child{
      margin-right:0;
    }
  }
}

.loading{
  $w: 100px;
  width:$w; height:$w;
  position: absolute;
  top: 50%; left: 50%;
  text-align:center;
  margin-top: -$w/2;
  margin-left: -$w/2;
  border-radius: $w/5;
  background: $gray-lighter;
  border:5px solid darken($gray-lighter, 10%);
  opacity:0.8;
  i{
    font-size:$w/2;
    line-height:$w;
    @include animation("rotate" 2s linear infinite forwards);
  }
}

.mask{
  position: fixed;
  top:0; left:0;
  width: 100%;
  height:100%;
  background: white;
  z-index:10000;
}

.login-area{
  border-width: 0;
  .login-alert{
    position: absolute;
    z-index:12000;
    top:0; margin-left: -$grid-gutter-width/2;
    width: 100%;
    border-radius:0;
  }
  .panel-body{
    $w: 800px; $h: 400px;
    @include box-shadow(5px 5px 15px $panel-default-border);
    border: 1px solid $panel-default-border;
    position: fixed;
    width: $w;
    margin-left: -$w/2;
    height: $h;
    margin-top: -$h/2;
    left: 50%; top: 50%;
    z-index:10001;
  }
}

.login-form{
  margin-top: 70px;
  padding: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width;
  border-left: 1px dashed gray;
}

.yanzheng{
  height:34px;
}

.btn-login{
  margin-left: - $grid-gutter-width / 2;
}

.username{
  color: $btn-primary-bg;
}

.home{
  color: darken($brand-primary, 5%);
  i{
    font-size: 1.3em;
  }
}

.menu-item{
  width: 20%;
  text-align:center;
  .menu-wrap{
    width:130px;
    background: $panel-default-border;
    border-radius:20px;
    cursor:pointer;
    @extend .center-block;
    &:hover{
      color: $state-success-text;
    }
  }
  i{
    font-size:8em;
    line-height:1em;
  }
  span{
    font-size:1.2em;
  }
}

/* accordion panel setting */
.panel-group .panel{
  @include box-shadow(none);
  &.active .panel-heading{
    a {color: $brand-primary;}
  }
  &:first-child{
    @include border-top-radius($border-radius-base);
  }
  &:last-child{
    @include border-bottom-radius($border-radius-base);
  }
  & + .panel{
    margin-top:0;
    border-top-width:0;    
  }
  a.accordion-toggle:hover{
    text-decoration: none;
    color: $brand-primary;
  }
  .panel-body{
    padding:0;
    li + li{
      margin-top: 0;
    }
    a{
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  .panel-heading span.iconfont{
    font-size:1.2em;
  }
}

.form-inline .form-group{
  margin-right: 5px;
}

.role-pool{
  .check-wrap{
    height:250px;
    overflow-y: scroll;
    padding:0 $grid-gutter-width/2;
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
  }
}

.many-checkbox:first-child{
  margin-left:10px;
}

.sub-label{
  margin-left:$grid-gutter-width;
}

.table-dds{
  .tooltip-inner{
    text-align:left;
  }
  span[tooltip], span[data-tooltip]{
    cursor: help;
  }
  thead > tr {
    background: $brand-info;
    font-weight: bold;
    color: white;
    td{
      border-width: 1px;
      &.action{
        width: 130px;
      }
    }
  }
  & > tbody > tr > td{
    vertical-align: middle;
    & > button + button{
      margin-left: 5px;
    }
  }
  tbody td{
    a{
      text-decoration:underline;
    }
  }
  tfoot td{
    min-height: 200px;

  }
}

.pagination{
  margin:0;
  margin-right:auto;
}

.pagination-tip{
  line-height: 34px;
}

.form-modal .has-feedback .form-control-feedback{
  line-height:34px;
  margin-top:-34px;
  @extend .pull-right;
  right:0;
}

@include keyframes("rotate"){
  from{
    @include rotate(0deg);
  }
  to{
    @include rotate(359deg);
  }
}

.sync-ing i{
  @include animation("rotate" 2s linear infinite forwards);
}

.show-edit{
  color: $brand-primary;
  cursor: pointer;
}

.dds-dp {
  input[readonly]{
    background-color: white;
  }
  input[disabled]{
    background-color: #eee;
  }
  .form-control{
    &:not(:first-child):not(:last-child) {
      @include border-right-radius($border-radius-base);
    }
  }
  .input-group-addon{
    cursor:pointer;
  }
  .dropdown-menu{
    padding: 5px;
    table{
      @extend .table-bordered;
      outline-width: 0;
      button{
        border-radius:0;
        border-width: 0;
      }
    }
  }
}

.rule-unit{
  .row{
    div.col-xs-6{
      margin-bottom:15px;
    }
  }
  & + .rule-unit .row{
    border-top:1px dashed $gray-light;
    padding-top:15px;
  }
}

.btn-status{
  .btn[disabled]{
    opacity:1;
  }
}

.form-inline .input-sm[type=text]{
  width: 100px;
}

footer{
  border-top: 1px solid $navbar-default-border;
  margin-top: $grid-gutter-width;
  padding-top:$grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width;
  color: $gray-light;
  line-height: 2em;
  .glyphicon-fire{ 
    color: $brand-danger;
  }
}