<div class="col-xs-8 col-xs-offset-2">
  <h2>修改密码：</h2>
  <form class="form-horizontal" role="form" name="chgpwdForm" data-ng-submit="pwdSubmit()" novalidate>
    <div class="form-group has-feedback" data-ng-class="{'has-success':chgpwdForm.oldPwd.$valid, 'has-error':chgpwdForm.oldPwd.$invalid &amp;&amp; chgpwdForm.oldPwd.$dirty}">
      <div class="input-group col-xs-10 col-xs-offset-1">
        <div class="input-group-addon"><i class="iconfont icon-oldpwd"></i></div>
        <input type="password" class="form-control input-lg" name="oldPwd" data-ng-model="pwd.oldPwd" placeholder="原密码" required>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':chgpwdForm.newPwd.$valid, 'has-error':chgpwdForm.newPwd.$invalid &amp;&amp; chgpwdForm.newPwd.$dirty}">
      <div class="input-group col-xs-10 col-xs-offset-1">
        <div class="input-group-addon"><i class="iconfont icon-newpwd"></i></div>
        <input type="password" class="form-control input-lg" name="newPwd" data-ng-model="pwd.newPwd" placeholder="新密码" required>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':chgpwdForm.rpNewPwd.$valid, 'has-error':(pwd.rpNewPwd != pwd.newPwd) &amp;&amp; chgpwdForm.rpNewPwd.$dirty}">
      <div class="input-group col-xs-10 col-xs-offset-1">
        <div class="input-group-addon"><i class="iconfont icon-newpwd2"></i></div>
        <input type="password" class="form-control input-lg" name="rpNewPwd" data-ng-model="pwd.rpNewPwd" placeholder="重复密码" required>
      </div>
    </div>
     <div class="form-group">
      <div class="col-xs-offset-1 col-xs-5">
        <button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="chgpwdForm.$invalid || isUnchanged(pwd)"><span class="iconfont icon-mima"></span> 确 定 修 改</button>
      </div>
    </div>
  </form>
</div>