<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only">用户名</label>
      <input type="text" class="form-control input-sm" name="customerId" data-ng-model="search.loginId" placeholder="用户名">
    </div>
    <div class="form-group">
      <label class="sr-only">姓名</label>
      <input type="text" class="form-control input-sm" name="userName" data-ng-model="search.userName" placeholder="姓名">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-sm" data-ng-click="doSearch(search)">
        <span class="glyphicon glyphicon-search"></span> 搜素
      </button>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>用户名</td>
      <td>姓名</td>
      <td>手机号</td>
      <td>紧急联系电话</td>
      <td>常用目的地</td>
      <td>注册时间</td>
      <td class="action">操作</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="cust in customers">
      <td data-ng-bind="cust.userId"></td>
      <td data-ng-bind="cust.userName"></td>
      <td data-ng-bind="cust.mobilePhone"></td>
      <td data-ng-bind="cust.emergencyPhone"></td>
      <td data-ng-bind="cust.address"></td>
      <td data-ng-bind="cust.createTime | myDate"></td>
      <td>
        <button class="btn btn-primary btn-xs" data-ng-click="saveCust(cust)">
          <span class="glyphicon glyphicon-edit"></span>
          编辑
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row" data-ng-show="showPagination">
  <div class="col-xs-10">
    <div data-pagination data-total-items="total" data-ng-model="pageNum" data-max-size="maxPageSize" class="pagination-sm" data-num-pages="numPages" data-ng-change="changePage()" data-rotate="false" data-boundary-links="true" data-previous-text="上页" data-next-text="下页" data-first-text="首页" data-last-text="末页"></div>
  </div>
  <div class="col-xs-2 text-right pagination-tip">
    页码: {{pageNum}} / {{numPages}}
  </div>
</div>