<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only">姓名</label>
      <input type="text" class="form-control" name="demo1" data-ng-model="search.name" placeholder="姓名">
    </div>
    <div class="form-group">
      <label class="sr-only">司机工号</label>
      <input type="text" class="form-control" name="demo2" data-ng-model="search.driverNo" placeholder="司机工号">
    </div>
    <div class="form-group">
      <label class="sr-only">状态</label>
      <select name="status" class="form-control" data-ng-model="search.status">
        <option value="">---司机状态---</option>
        <option value="2">空闲</option>
        <option value="1">忙碌</option>
        <option value="3">代驾中</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" data-ng-click="doSearch(search)">
        <span class="glyphicon glyphicon-search"></span> 搜素
      </button>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>司机工号</td>
      <td>姓名</td>
      <td>手机号</td>
      <td>驾驶证</td>
      <td>状态</td>
      <td>驾龄</td>
      <td>籍贯</td>
      <td>代驾次数</td>
      <td>服务评级</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="driver in drivers">
      <td data-ng-bind="driver.driverNo"></td>
      <td data-ng-bind="driver.driverName"></td>
      <td data-ng-bind="driver.driverPhone"></td>
      <td data-ng-bind="driver.identityCard"></td>
      <td data-ng-bind="driver.workStatus | driveStatus"></td>
      <td data-ng-bind="driver.driveAge"></td>
      <td data-ng-bind="driver.nativePlace"></td>
      <td data-ng-bind="driver.driveCount"></td>
      <td data-ng-bind="'✭✭✭✭✭' | limitTo: driver.starLevel"></td>
    </tr>
  </tbody>
</table>
<div class="row" data-ng-show="showPagination">
  <div class="col-xs-10">
    <div data-pagination data-total-items="total" data-ng-model="pageNum" data-max-size="maxPageSize" class="pagination-sm" data-num-pages="numPages" data-ng-change="changePage()" data-rotate="false" data-boundary-links="true" data-previous-text="Prev"></div>
  </div>
  {{maxPageSize}}
  <div class="col-xs-2 text-right pagination-tip">
    Page: {{pageNum}} / {{numPages}}
  </div>
</div>