<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only" for="demo1">Email address</label>
      <input type="email" class="form-control" id="demo1" placeholder="名称">
    </div>
    <div class="form-group">
      <label class="sr-only" for="demo2">Email address</label>
      <input type="email" class="form-control" id="demo2" placeholder="账号">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> 搜素
      </button>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>姓名</td>
      <td>账号</td>
      <td>角色</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tom</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Jerry</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Andy</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-xs-10">
    <pagination total-items="home.totleRecords" ng-model="home.currentPage" items-per-page="home.recordsPerPage" max-size="home.maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="home.numPages" ng-change="home.changePage()"></pagination>
  </div>
  <div class="col-xs-2 text-right pagination-tip">
    Page: {{home.currentPage}} / {{home.numPages}}
  </div>
</div>