<div data-accordion close-others="true">
  <div data-accordion-group data-ng-repeat="m in menus" data-is-open="m.open" data-ng-click="markOpen($index)" data-ng-class="{active:m.open}">
    <div data-accordion-heading><i class="iconfont" data-ng-class="{'icon-{{m.alias}}': true}"></i> {{m.name}}</div>
    <ul class="nav nav-pills nav-stacked">
      <li data-ng-repeat="m2 in m.subname" data-ng-class="{active: isActivedMenu('/'+m2.path)}">
        <a href="#/{{m2.path}}">
          <i class='iconfont icon-arrow-right'></i>
          <span data-ng-bind="m2.name"></span>
        </a>
      </li>
    </ul>
  </div>
</div>