<form class="form-horizontal form-modal" role="form" name="ruleForm" novalidate>
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" data-ng-bind="modalTitle"></h4>
  </div>
  <div class="modal-body">
    <div data-alert data-type="danger" data-ng-show="alert.show" class="animated fade-in">
      <i class="iconfont icon-danger"></i>
      <span data-ng-bind="alert.msg"></span>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.ruleName.$valid, 'has-error':ruleForm.ruleName.$invalid &amp;&amp; ruleForm.ruleName.$dirty}">
      <label for="ruleName" class="col-xs-2 control-label">* 规则名称</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" name="ruleName" data-ng-model="formData.ruleName" data-ng-maxlength="4" required placeholder="长度小于等于 12 位">
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.city.$valid}">
      <label for="province" class="col-xs-2 control-label">* 省市名称</label>
      <div class="col-xs-9">
        <p class="form-control-static">
          {{province.name || formData.provinceName }} - {{city.name || formData.cityName}}
          <i class="glyphicon glyphicon-edit show-edit" data-ng-show="extraData.showEdit" data-ng-click="extraData.showAreaSel=!extraData.showAreaSel"></i>
        </p>
      </div>
      <div class="col-xs-5 col-xs-offset-2" data-ng-show="extraData.showAreaSel">
        <select name="province" class="form-control" data-ng-model="province" data-ng-options="prov.name for prov in extraData.areas" data-ng-change="formData.provinceId=province.id; city=''" required>
          <option value="">-- 请选择 --</option> 
        </select>
        <input name="provinceId" type="hidden" data-ng-model="formData.provinceId">
      </div>
      <div class="col-xs-4" data-ng-show="extraData.showAreaSel">
        <select name="city" class="form-control" data-ng-model="city" data-ng-options="city.name for city in province.subname" data-ng-change="formData.cityId=city.id" required>
          <option value="">-- 请选择 --</option> 
        </select>
        <input name="cityId" type="hidden" data-ng-model="formData.cityId">
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.ruleStartTime.$valid}">
      <label for="time1" class="col-xs-2 control-label">* 时间段</label>
      <div class="col-xs-5">
        <select name="time1" class="form-control" data-ng-model="formData.ruleStartTime" data-ng-options="t as (t + ':00') for t in extraData.scale" required>
          <option value="">-- 请选择 --</option> 
        </select>
      </div>
      <div class="col-xs-4">
        <select name="time2" class="form-control" data-ng-model="formData.ruleEndTime" data-ng-options="t as (t + ':00') for t in extraData.scale" required>
          <option value="">-- 请选择 --</option> 
        </select>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.ruleStartPrice.$valid, 'has-error':ruleForm.ruleStartPrice.$invalid &amp;&amp; ruleForm.ruleStartPrice.$dirty}">
      <label for="ruleStartPrice" class="col-xs-2 control-label">* 起步价格</label>
      <div class="col-xs-9">
        <div class="input-group">
          <span class="input-group-addon">￥</span>
          <input type="number" class="form-control" name="ruleStartPrice" data-ng-model="formData.ruleStartPrice" data-ng-maxlength="4" required placeholder="一小时内">
        </div>
        <i class="glyphicon form-control-feedback" data-ng-show="ruleForm.ruleStartPrice.$dirty" data-ng-class="{'glyphicon-ok':ruleForm.ruleStartPrice.$valid, 'glyphicon-remove':ruleForm.ruleStartPrice.$invalid}"></i>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.ruleExtraPrice.$valid, 'has-error':ruleForm.ruleExtraPrice.$invalid &amp;&amp; ruleForm.ruleExtraPrice.$dirty}">
      <label for="ruleExtraPrice" class="col-xs-2 control-label">* 加收金额</label>
      <div class="col-xs-9">
        <div class="input-group">
          <span class="input-group-addon">￥</span>
          <input type="number" class="form-control" name="ruleExtraPrice" data-ng-model="formData.ruleExtraPrice" data-ng-maxlength="4" required placeholder="超过1小时每小时加收金额">
        </div>
        <i class="glyphicon form-control-feedback" data-ng-show="ruleForm.ruleExtraPrice.$dirty" data-ng-class="{'glyphicon-ok':ruleForm.ruleExtraPrice.$valid, 'glyphicon-remove':ruleForm.ruleExtraPrice.$invalid}"></i>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.ruleDesc.$dirty, 'has-error':ruleForm.ruleDesc.$invalid &amp;&amp; ruleForm.ruleDesc.$dirty}">
      <label for="ruleDesc" class="col-xs-2 control-label">规则描述</label>
      <div class="col-xs-9">
        <textarea class="form-control" name="ruleDesc" rows="3" data-ng-model="formData.ruleDesc" data-ng-maxlength="100" placeholder="长度小于 100 位"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-ng-disabled="ruleForm.$invalid && !extraData.showEdit" data-ng-click="confirm()">
      <i class="glyphicon glyphicon-ok"></i> 确认
    </button>
    <button class="btn" data-ng-click="cancel()">
      <i class="glyphicon glyphicon-ban-circle"></i> 取消
    </button>
  </div>
</form>