<form class="form-horizontal form-modal" role="form" name="roleForm" data-ng-submit="confirm()" novalidate>
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" data-ng-bind="modalTitle"></h4>
  </div>
  <div class="modal-body">
    <div data-alert data-type="{{alert.type}}" data-ng-show="alert.show" class="animated fade-in">
      <i class="iconfont icon-{{alert.type}}"></i>
      <span data-ng-bind="alert.msg"></span>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':roleForm.roleName.$valid, 'has-error':roleForm.roleName.$invalid &amp;&amp; roleForm.roleName.$dirty}">
      <label for="username" class="col-xs-2 control-label">角色名称</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" name="roleName" data-ng-model="formData.roleName" required>
        <i class="glyphicon form-control-feedback" data-ng-show="roleForm.roleName.$dirty" data-ng-class="{'glyphicon-ok':roleForm.roleName.$valid, 'glyphicon-remove':roleForm.roleName.$invalid}"></i>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':roleForm.description.$valid, 'has-error':roleForm.description.$invalid &amp;&amp; roleForm.description.$dirty}">
      <label for="userfullname" class="col-xs-2 control-label">角色描述</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" name="description" data-ng-model="formData.description" required>
        <i class="glyphicon form-control-feedback" data-ng-show="roleForm.description.$dirty" data-ng-class="{'glyphicon-ok':roleForm.description.$valid, 'glyphicon-remove':roleForm.description.$invalid}"></i>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" data-ng-disabled="roleForm.$invalid">
      <i class="glyphicon glyphicon-ok"></i> 确认
    </button>
    <button class="btn" data-ng-click="cancel()">
      <i class="glyphicon glyphicon-ban-circle"></i> 取消
    </button>
  </div>
</form>