<form class="form-horizontal form-modal" role="form" name="ruleForm" novalidate>
  <div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" data-ng-bind="modalTitle"></h4>
  </div>
  <div class="modal-body">
    <div data-alert data-type="danger" data-ng-show="alert.show" class="animated fade-in">
      <i class="iconfont icon-danger"></i>
      <span data-ng-bind="alert.msg"></span>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.city.$valid}">
      <label for="province" class="col-xs-3 control-label">* 省市名称</label>
      <div class="col-xs-8">
        <p class="form-control-static">
          {{province.name || formData.provinceName || '未选择' }} - {{city.name || formData.cityName || '未选择'}}
          <i class="glyphicon glyphicon-edit show-edit" data-ng-show="extraData.showEdit" data-ng-click="extraData.showAreaSel=!extraData.showAreaSel"></i>
        </p>
      </div>
      <div class="col-xs-4 col-xs-offset-3" data-ng-show="extraData.showAreaSel">
        <select name="province" class="form-control" data-ng-model="province" data-ng-options="prov.name for prov in extraData.areas" data-ng-change="formData.provinceId=province.id; city=''" required>
          <option value="">-- 请选择 --</option> 
        </select>
        <input name="provinceId" type="hidden" data-ng-model="formData.provinceId">
      </div>
      <div class="col-xs-4" data-ng-show="extraData.showAreaSel">
        <select name="city" class="form-control" data-ng-model="city" data-ng-options="city.name for city in province.subname" data-ng-change="formData.cityId=city.id" required>
          <option value="">-- 请选择 --</option> 
        </select>
        <input name="cityId" type="hidden" data-ng-model="formData.cityId">
      </div>
    </div>
    <div class="form-group">
      <label for="openTime" class="col-xs-3 control-label">计费模板</label>
      <div class="col-xs-8">
        <select name="tempObj" class="form-control" 
          data-ng-model="tempObj" 
          data-ng-options="t.tempNo for t in extraData.templates" 
          data-ng-change="formData.openTime=(tempObj.openTime | myDate:'yyyy-MM-dd');formData.closeTime=(tempObj.closeTime | myDate:'yyyy-MM-dd');formData.tempId=tempObj.id;formData.arrayStr=tempObj.arrayStr">
          <option value="">请选择</option>
        </select>
        <input type="hidden" name="tempId" data-ng-model="formData.tempId">
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.openTime.$valid &amp;&amp; ruleForm.openTime.$dirty, 'has-error':ruleForm.openTime.$invalid &amp;&amp; ruleForm.openTime.$dirty}">
      <label for="openTime" class="col-xs-3 control-label">* 生效日期</label>
      <div class="col-xs-8">
        <div class="input-group dds-dp">
          <span class="input-group-addon" ng-click="toggleCal($event);sOpen=!sOpen;eOpen=false;">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
          <input type="text" name="openTime" class="form-control" data-datepicker-popup data-ng-model="formData.openTime" data-is-open="sOpen" data-datepicker-options="dateOptions"  data-show-button-bar="false" data-ng-change="formData.openTime=(formData.openTime | date: 'yyyy-MM-dd')" required>
        </div>
        <i class="glyphicon form-control-feedback" data-ng-show="ruleForm.openTime.$dirty" data-ng-class="{'glyphicon-ok':ruleForm.openTime.$valid, 'glyphicon-remove':ruleForm.openTime.$invalid}"></i>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.closeTime.$valid &amp;&amp; ruleForm.closeTime.$dirty, 'has-error':ruleForm.closeTime.$invalid &amp;&amp; ruleForm.closeTime.$dirty}">
      <label for="closeTime" class="col-xs-3 control-label">* 停用日期</label>
      <div class="col-xs-8">
        <div class="input-group dds-dp">
          <span class="input-group-addon" ng-click="toggleCal($event);eOpen=!eOpen; sOpen=false;">
            <i class="glyphicon glyphicon-calendar"></i>
          </span>
          <input type="text" name="closeTime" class="form-control" data-datepicker-popup data-ng-model="formData.closeTime" data-is-open="eOpen" data-datepicker-options="dateOptions"  data-show-button-bar="false"  data-min-date="formData.startTime" data-ng-change="formData.closeTime=(formData.closeTime | date: 'yyyy-MM-dd')" required>
        </div>
        <i class="glyphicon form-control-feedback" data-ng-show="ruleForm.closeTime.$dirty" data-ng-class="{'glyphicon-ok':ruleForm.closeTime.$valid, 'glyphicon-remove':ruleForm.closeTime.$invalid}"></i>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-3 control-label">* 规则填充</label>
      <div class="col-xs-8 rule-unit" data-ng-class="{'col-xs-offset-3':!$first}" data-ng-repeat="rule in tempObj.rules">
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
              <input type="number" name="ruleStartTime" class="form-control" data-ng-model="formData.arrayStr[$index][0]" placeholder="开始时间" min="0" max="24" required>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
              <input type="number" name="ruleEndTime" class="form-control" data-ng-model="formData.arrayStr[$index][1]" placeholder="结束时间" min="0" max="24" required>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon">￥</span>
              <input type="number" name="ruleStartPrice" class="form-control" data-ng-model="formData.arrayStr[$index][2]" placeholder="起步价" required>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group">
              <span class="input-group-addon">￥</span>
              <input type="number" name="ruleExtraPrice" class="form-control" data-ng-model="formData.arrayStr[$index][3]" placeholder="加价" required>
            </div>
          </div>
          <div class="col-xs-4 text-right col-xs-offset-8">
            <button type="button" class="btn btn-danger btn-xs" 
              data-ng-show="!$first &amp;&amp; $last" 
              data-ng-click="formData.arrayStr[$index]=undefined; tempObj.rules.splice($index, 1)">
              <i class="glyphicon glyphicon-minus"></i>
            </button>
            <button type="button" class="btn btn-info btn-xs" 
              data-ng-show="$last" 
              data-ng-click="tempObj.rules.push($index+1)">
              <i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.status.$valid &amp;&amp; ruleForm.status.$dirty, 'has-error':ruleForm.status.$invalid &amp;&amp; ruleForm.status.$dirty}">
      <label class="col-xs-3 control-label">* 状态</label>
      <div class="col-xs-8">
        <label class="radio-inline">
          <input type="radio" name="status" data-ng-value="0" data-ng-model="formData.status" required> 启用
        </label>
        <label class="radio-inline">
          <input type="radio" name="status" data-ng-value="1" data-ng-model="formData.status" required> 停用
        </label>
      </div>
    </div>
    <div class="form-group has-feedback" data-ng-class="{'has-success':ruleForm.ruleDesc.$dirty, 'has-error':ruleForm.ruleDesc.$invalid &amp;&amp; ruleForm.ruleDesc.$dirty}">
      <label for="ruleDesc" class="col-xs-3 control-label">描述</label>
      <div class="col-xs-8">
        <input class="form-control" name="ruleDesc" data-ng-model="formData.ruleDesc">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-ng-disabled="ruleForm.$invalid &amp;&amp; !extraData.showEdit" data-ng-click="confirm()">
      <i class="glyphicon glyphicon-ok"></i> 确认
    </button>
    <button class="btn" data-ng-click="cancel()">
      <i class="glyphicon glyphicon-ban-circle"></i> 取消
    </button>
  </div>
</form>