<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only">年份</label>
      <select class="form-control" data-ng-model="search.year" data-ng-options="y for y in years">
        <option value="">-- 选择年份 --</option>
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only">月份</label>
      <select class="form-control" data-ng-model="search.month" data-ng-options="m for m in [1,2,3,4,5,6,7,8,9,10,11,12]">
        <option value="">-- 选择月份 --</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" data-ng-click="getSearch(search)">
        <span class="glyphicon glyphicon-search"></span> 搜素
      </button>
    </div>
  </form>
  {{search}}
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>省份</td>
      <td>城市</td>
      <td>客户名称</td>
      <td>客户手机</td>
      <td>总次数</td>
      <td>平均费用</td>
      <td>总费用</td>
      <td>总服务时间(小时)</td>
      <td class="action">操作</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="ord in status">
      <td data-ng-bind="ord.province"></td>
      <td data-ng-bind="ord.city"></td>
      <td data-ng-bind="ord.cName"></td>
      <td data-ng-bind="ord.cMobile"></td>
      <td data-ng-bind="ord.totalCounts"></td>
      <td data-ng-bind="ord.averageAmount | currency: '￥'"></td>
      <td data-ng-bind="ord.totalAmount | currency: '￥'"></td>
      <td data-ng-bind="ord.totalHours"></td>
      <td>
        <button class="btn btn-primary btn-xs" data-ng-click="">
          查看明细
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row" data-ng-show="showPagination">
  <div class="col-xs-10">
    <div data-pagination data-total-items="total" data-ng-model="pageNo" data-max-size="maxPageSize" class="pagination-sm" data-num-pages="numPages" data-ng-change="changePage()" data-rotate="false" data-boundary-links="true" data-previous-text="Prev"></div>
  </div>
  <div class="col-xs-2 text-right pagination-tip">
    Page: {{pageNo}} / {{numPages}}
  </div>
</div>