<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only">角色名称</label>
      <input type="text" class="form-control input-sm" name="roleName" data-ng-model="search.roleName" placeholder="角色名称">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-sm" data-ng-click="doSearch(search)">
        <span class="glyphicon glyphicon-search"></span> 搜素
      </button>
    </div>
  </form>
  <button class="btn btn-primary btn-sm" data-ng-click="saveRole()"><i class="glyphicon glyphicon-plus"></i> 添加</button>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>角色名称</td>
      <td>创建时间</td>
      <td class="action">操作</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="role in roles">
      <td data-ng-bind="role.roleName"></td>
      <td data-ng-bind="role.createTime | myDate"></td>
      <td>
        <button class="btn btn-primary btn-xs" data-ng-click="saveRole(role)">
          <span class="glyphicon glyphicon-edit"></span>
          编辑
        </button>
        <button class="btn btn-danger btn-xs" data-ng-click="remove(role.id)">
          <span class="glyphicon glyphicon-remove-circle"></span>
          删除
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row" data-ng-show="showPagination">
  <div class="col-xs-10">
    <div data-pagination data-total-items="total" data-ng-model="pageNum" data-max-size="maxPageSize" class="pagination-sm" data-num-pages="numPages" data-ng-change="changePage()" data-rotate="false" data-boundary-links="true" data-previous-text="上页" data-next-text="下页" data-first-text="首页" data-last-text="末页"></div>
  </div>
  <div class="col-xs-2 text-right pagination-tip">
    Page: {{pageNum}} / {{numPages}}
  </div>
</div>