<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only">规则编号</label>
      <input type="text" class="form-control input-sm" name="ruleNo" data-ng-model="search.ruleNo" placeholder="规则编号">
    </div>
    <div class="form-group">
      <label class="sr-only">模板编号</label>
      <input type="text" class="form-control input-sm" name="tempNo" data-ng-model="search.tempNo" placeholder="模板编号">
    </div>
    <div class="form-group">
      <label class="sr-only">省份</label>
      <select name="province" class="form-control input-sm" data-ng-model="province" data-ng-options="prov.name for prov in areas" data-ng-change="search.provinceId=province.id;city='';search.cityId=undefinde">
        <option value="">-- 选择省份 --</option> 
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only"></label>
      <select name="city" class="form-control input-sm" data-ng-model="city" data-ng-options="city.name for city in province.subname" data-ng-change="search.cityId=city.id">
        <option value="">-- 选择城市 --</option> 
      </select>
    </div>
    <div class="form-group">
      <label class="sr-only"></label>
      <select name="city" class="form-control input-sm" data-ng-model="search.status">
        <option value="">-- 规则状态 --</option> 
        <option value="0">启用</option>
        <option value="1">停用</option>
      </select>
      <input name="cityId" type="hidden" data-ng-model="search.cityId">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-sm" data-ng-click="doSearch(search)">
        <span class="glyphicon glyphicon-search"></span> 搜素
      </button>
    </div>
  </form>
  <div class="btn-group">
    <button class="btn btn-primary btn-sm" data-ng-click="saveRule()">
      <i class="glyphicon glyphicon-plus"></i> 添加
    </button>
    <button class="btn btn-primary btn-sm" data-ng-click="refresh()">
      <i class="glyphicon glyphicon-refresh"></i> 刷新
    </button>    
  </div>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>规则编号</td>
      <td>模板编号</td>
      <td>省份</td>
      <td>城市</td>
      <td>生效日期</td>
      <td>停用日期</td>
      <td>状态</td>
      <td>规则描述</td>
      <td class="action">操作</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="rule in rules">
      <td>
        <a data-ng-href="#/ruleDetail/{{rule.id}}" data-ng-bind="rule.ruleNo"></a>
      </td>
      <td data-ng-bind="rule.tempNo"></td>
      <td data-ng-bind="rule.provinceName"></td>
      <td data-ng-bind="rule.cityName"></td>
      <td data-ng-bind="rule.openTime | myDate:'yyyy-MM-dd'"></td>
      <td data-ng-bind="rule.closeTime | myDate:'yyyy-MM-dd'"></td>
      <td>
        <span class="label label-success" data-ng-show="rule.status==0">已启用</span>
        <span class="label label-danger" data-ng-show="rule.status==1">已停用</span>
      </td>
      <td data-ng-bind="rule.description"></td>
      <td>
        <button class="btn btn-primary btn-xs" data-ng-click="saveRule(rule)">
          <span class="glyphicon glyphicon-edit"></span>
          编辑
        </button>
        <button class="btn btn-danger btn-xs" data-ng-click="remove(rule.id)">
          <span class="glyphicon glyphicon-remove-circle"></span>
          删除
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row" data-ng-show="showPagination">
  <div class="col-xs-10">
    <div data-pagination data-total-items="total" data-ng-model="pageNum" data-max-size="maxPageSize" class="pagination-sm" data-num-pages="numPages" data-ng-change="changePage()" data-rotate="false" data-boundary-links="true" data-previous-text="上页" data-next-text="下页" data-first-text="首页" data-last-text="末页"></div>
  </div>
  <div class="col-xs-2 text-right pagination-tip">
    页码: {{pageNum}} / {{numPages}}
  </div>
</div>