 <div class="well">
  <button class="btn btn-primary btn-sm" data-ng-click="goBack()">
    <i class="glyphicon glyphicon-chevron-left"></i> 返回
  </button>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>规则编号</td>
      <td>模板明细编号</td>
      <td>开始时间</td>
      <td>结束时间</td>
      <td>起步价[1小时内]</td>
      <td>加收金额</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="d in details">
      <td data-ng-bind="d.ruleNo"></td>
      <td data-ng-bind="d.detailNo"></td>
      <td>
        <span data-ng-bind="d.ruleStartTime"></span>:00
      </td>
      <td>
        <span data-ng-bind="d.ruleEndTime"></span>:00
      </td>
      <td data-ng-bind="d.ruleStartPrice | currency: '￥'"></td>
      <td data-ng-bind="d.ruleExtraPrice | currency: '￥'"></td>
    </tr>
  </tbody>
</table>