<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only">编号</label>
      <input type="text" class="form-control input-sm" name="tempNo" data-ng-model="search.tempNo" placeholder="模板编号">
    </div>
    <div class="form-group">
      <label>生效时间：</label>
      <div class="input-group input-group-sm dds-dp">
        <input type="text" class="form-control" name="startTime"
          placeholder="开始时间"
          data-ng-model="search.startTime" 
          data-datepicker-popup 
          data-is-open="sOpen"  
          data-datepicker-options="dateOptions"  
          data-show-button-bar="false" 
          data-ng-change="search.startTime=(search.startTime | date: 'yyyy-MM-dd')"
          data-ng-click="toggleCal($event);sOpen=!sOpen;eOpen=false;"
          readonly>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" data-ng-click="toggleCal($event);sOpen=!sOpen;eOpen=false;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <strong>至</strong>
    </div>
    <div class="form-group">
      <div class="input-group input-group-sm dds-dp">
        <input type="text" class="form-control" name="endTime" 
          placeholder="结束时间"
          data-ng-model="search.endTime" 
          data-datepicker-popup 
          data-is-open="eOpen"  
          data-datepicker-options="dateOptions"  
          data-show-button-bar="false"  
          data-min-date="search.startTime"
          data-ng-change="search.endTime=(search.endTime | date: 'yyyy-MM-dd')"
          data-ng-click="toggleCal($event);eOpen=!eOpen;sOpen=false;"
          readonly>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" data-ng-click="toggleCal($event);eOpen=!eOpen;sOpen=false;"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-sm" data-ng-click="doSearch(search)">
        <span class="glyphicon glyphicon-search"></span> 搜素
      </button>
    </div>
  </form>
  <div class="btn-group">
    <button class="btn btn-primary btn-sm" data-ng-click="saveRuleTemp()">
      <i class="glyphicon glyphicon-plus"></i> 添加
    </button>
    <button class="btn btn-primary btn-sm" data-ng-click="refresh()">
      <i class="glyphicon glyphicon-refresh"></i> 刷新
    </button>
  </div>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>模板编号</td>
      <td>模板名称</td>
      <td>描述</td>
      <td>生效时间</td>
      <td>停用时间</td>
      <td>状态</td>
      <td class="action">操作</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="t in templates">
      <td>
        <a data-ng-href="#/tempDetail/{{t.id}}" data-ng-bind="t.tempNo"></a>
      </td>
      <td data-ng-bind="t.tempName"></td>
      <td data-ng-bind="t.description"></td>
      <td data-ng-bind="t.openTime | myDate:'yyyy-MM-dd'"></td>
      <td data-ng-bind="t.closeTime | myDate:'yyyy-MM-dd'"></td>
      <td>
        <span class="label label-success" data-ng-show="t.status==0">已启用</span>
        <span class="label label-danger" data-ng-show="t.status==1">已停用</span>
      </td>
      <td>
        <button class="btn btn-primary btn-xs" data-ng-click="saveRuleTemp(t)">
          <span class="glyphicon glyphicon-edit"></span>
          编辑
        </button>
        <button class="btn btn-danger btn-xs" data-ng-click="remove(t.id)">
          <span class="glyphicon glyphicon-remove-circle"></span>
          删除
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row" data-ng-show="showPagination">
  <div class="col-xs-10">
    <div data-pagination data-total-items="total" data-ng-model="pageNum" data-max-size="maxPageSize" class="pagination-sm" data-num-pages="numPages" data-ng-change="changePage()" data-rotate="false" data-boundary-links="true" data-previous-text="上页" data-next-text="下页" data-first-text="首页" data-last-text="末页"></div>
  </div>
  <div class="col-xs-2 text-right pagination-tip">
    页码: {{pageNum}} / {{numPages}}
  </div>
</div>