<div class="col-xs-2">
  <input type="text" class="form-control input-sm" placeholder="开始时间">
</div>
<div class="col-xs-2">
  <input type="text" class="form-control input-sm" placeholder="结束时间">
</div>
<div class="col-xs-2">
  <input type="text" class="form-control input-sm" placeholder="起步价">
</div>
<div class="col-xs-2">
  <input type="text" class="form-control input-sm" placeholder="加价">
</div>
<div class="clo-xs-1">
  <button type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i></button>
</div>
