<div class="col-xs-8 rule-unit" data-ng-class="{'col-xs-offset-3':!$first}" data-ng-repeat="rule in extraData.rules">
  <div class="row">
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <input type="number" name="ruleStartTime" class="form-control" data-ng-model="formData.arrayStr[$index][0]" placeholder="开始时间" min="0" max="24" required>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <input type="number" name="ruleEndTime" class="form-control" 
          placeholder="结束时间" min="0" max="24" 
          data-ng-model="formData.arrayStr[$index][1]" 
          data-ng-change="" 
          required>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">￥</span>
        <input type="number" name="ruleStartPrice" class="form-control" data-ng-model="formData.arrayStr[$index][2]" placeholder="起步价" required>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon">￥</span>
        <input type="number" name="ruleExtraPrice" class="form-control" data-ng-model="formData.arrayStr[$index][3]" placeholder="加价" required>
      </div>
    </div>
    <div class="col-xs-4 text-right col-xs-offset-8">
      <button type="button" class="btn btn-danger btn-xs" 
        data-ng-show="!$first &amp;&amp; $last" 
        data-ng-click="formData.arrayStr[$index]=undefined; extraData.rules.splice($index, 1)">
        <i class="glyphicon glyphicon-minus"></i>
      </button>
      <button type="button" class="btn btn-info btn-xs" 
        data-ng-show="$last"
        data-ng-click="extraData.rules.push($index+1)">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </div>
  </div>
</div>