<div class="well">
  <form class="form-inline pull-right" role="form">
    <div class="form-group">
      <label class="sr-only">客户名称</label>
      <input class="form-control" type="text" name="cName" data-ng-model="search.cName" placeholder="客户名称">
    </div>
    <div class="form-group">
      <label class="sr-only">开始时间</label>
      <div class="input-group dds-dp">
        <input type="text" class="form-control" datepicker-popup ng-model="search.dp1" is-open="sOpen" datepicker-options="dateOptions" show-button-bar="false">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" style="height:34px;" ng-click="toggleDP1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only">结束时间</label>
      <div class="input-group dds-dp">
        <input type="text" class="form-control" datepicker-popup ng-model="search.dp2" is-open="eOpen" datepicker-options="dateOptions" show-button-bar="false" min-date="search.dp1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" style="height:34px;" ng-click="toggleDP2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" data-ng-click="doSearch(search)">
        <i class="glyphicon glyphicon-search"></i> 搜素
      </button>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped table-dds">
  <thead>
    <tr>
      <td>省份</td>
      <td>城市</td>
      <td>客户名称</td>
      <td>客户手机</td>
      <td>总次数</td>
      <td>平均费用</td>
      <td>总费用</td>
      <td>总服务时间(小时)</td>
      <td class="action">操作</td>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="ord in status">
      <td data-ng-bind="ord.province"></td>
      <td data-ng-bind="ord.city"></td>
      <td data-ng-bind="ord.cName"></td>
      <td data-ng-bind="ord.cMobile"></td>
      <td data-ng-bind="ord.totalCounts"></td>
      <td data-ng-bind="ord.averageAmount | currency: '￥'"></td>
      <td data-ng-bind="ord.totalAmount | currency: '￥'"></td>
      <td data-ng-bind="ord.totalHours"></td>
      <td>
        <button class="btn btn-primary btn-xs" data-ng-click="orderByCust(ord.cName)">
          查看明细
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row" data-ng-show="showPagination">
  <div class="col-xs-10">
    <div data-pagination data-total-items="total" data-ng-model="pageNum" data-max-size="maxPageSize" class="pagination-sm" data-num-pages="numPages" data-ng-change="changePage()" data-rotate="false" data-boundary-links="true" data-previous-text="Prev"></div>
  </div>
  <div class="col-xs-2 text-right pagination-tip">
    Page: {{pageNo}} / {{numPages}}
  </div>
</div>