<div class="modal-body">
  <div data-alert data-type="danger" data-ng-show="alert.show" class="animated fade-in">
    <i class="iconfont icon-danger"></i>
    <span data-ng-bind="alert.msg"></span>
  </div>
  <span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
  <strong class="text-danger" data-ng-bind="removeText"></strong>
</div>
<div class="modal-footer">
  <button class="btn btn-danger btn-xs" ng-click="confirm()">
    <span class="glyphicon glyphicon-remove-circle"></span>
    删除</button>
  <button class="btn btn-xs" ng-click="cancel()">
  <span class="glyphicon glyphicon-ban-circle"></span>
    取消</button>
</div>
